body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.back {
    background-color: rgb(5, 58, 5);
}

#punteggio {
    color: rgb(212, 159, 13);
    font-size: 26px;
    font-weight: bold;
}

h2 {
    font-size: 30px;
    margin-bottom: -20px;
    ;
}

h3 {
    color: goldenrod;
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: center;
    height: 30%;
    width: 30%;
}

button {
    margin: 5px;
    padding: 5px;
    color: black;
    font-size: 14px;
}

.medTitle {
    padding-top: 20px;
    color: white;
}

.header {
    text-align: center;
}

#messaggio {
    margin-left: 25px;
    color: rgb(204, 28, 28);
    background-color: blanchedalmond;
}

button:hover {
    background-color: rgb(221, 169, 24);
    color: rgb(240, 27, 27);
}

.carte {
    /* margin-top: 5px; */
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 239, 10);
    font-weight: 700;
    font-size: 20px;
}

.bigTitle {
    color: rgb(151, 21, 168);
    font-size: 50px;
    text-align: center;
}

.areaBtn {
    height: 50px;
    width: 50px;
    margin-right: 50%;
}

.totalContainer {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
}

.container {
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    text-align: center;
}

.areaGioco {
    display: flexbox;
}

.containerTop {
    margin-left: 50px;
    margin-right: 50px;
    height: 120px;
    width: 400px;
    background-color: rgb(48, 136, 13);
    text-align: center;
    padding-left: 10px;
}

.containerBot {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 130px;
    height: 120px;
    width: 400px;
    background-color: rgb(48, 136, 13);
}

p {
    color: white;
}